/* Realizado por Albert J. Jiménez P. oficinameltablero@gmail.com */

@font-face {
  font-family: justanotherhand;
  src: url(./fonts/justanotherhand.ttf);
  font-style: italic;
}

@font-face {
  font-family: justmeagain;
  src: url(./fonts/justmeagain.ttf);
}

@font-face {
  font-family: opensansitalic;
  src: url(./fonts/opensansitalic.ttf);
}

@font-face {
  font-family: opensansregular;
  src: url(./fonts/opensansregular.ttf);
}

:root {
  --main-bg-color: #ffd0b2;
  --main-canvas-color: #fffbdf;
  --sec-bg-color: #ffb383;
  --accent-color: #a587b3;

  --primary-title-color: #ffd1af;
  --secondary-title-color: #ffb385;
  --h1-color: #f67550;
  --contrast-title-color: #ffffff;
  --table-bg-color: #ffe8ca;
}
a {
  color: #666;
  text-decoration: none;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: var(--main-canvas-color);
  color: #666666;
}
main {
  width: 100%;
  min-height: 100%;
  background-color: var(--main-canvas-color, #fffbdf);
  padding-top: 4.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  max-width: 75em;
  margin: auto;
}

.main-col {
  width: 42%;
  min-height: 100px;
  border-radius: 2em 2em 0% 0%;
  padding-top: 0.5%;
}
.main-col:nth-child(2) {
  background: var(--main-canvas-color, #fffbdf);
}

.main-col-gen {
  width: 96%;
  height: 40em;
  margin: 0% auto;
  border-radius: 3% 3% 0% 0%;
}

.main-col-prin {
  background-color: var(--contrast-title-color, #ffffff);
}

.main-col-gen > article {
  width: 96%;
  height: 98%;
  margin: auto;
}

.main-col-gen > article > header {
  line-height: 4.5em;
}
h1,
.main-col-prin > article > h2 {
  color: var(--h1-color, #f67550);
  margin: 1%;
}
span {
  font-family: justmeagain;
}
p > span {
  font-family: opensansitalic;
}

h1 {
  font-size: 3em;
  font-family: justanotherhand;
}
.main-col-prin > article > h2 {
  font-size: 225%;
  font-family: justanotherhand;
}
.main-col-prin ul > li {
  list-style-type: none;
  line-height: 130%;
  font-family: opensansregular;
}
.main-col-prin p {
  margin: 0% 7%;
  line-height: 110%;
  font-size: 1.1em;
  font-family: opensansregular;
}
.main-col-prin ul > li::before {
  content: "-   ";
}

/* id card section */
.id-card {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.id-card > div {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.id-card-photo {
  width: 90%;
  height: 75%;
  margin: 0% auto;
}
.id-card-photo > * {
  position: relative;
}
.id-card-photo > .avatar {
  width: 82%;
  left: 9%;
}
.bar-of-life {
  bottom: 37%;
  width: 100%;
}
.heart {
  background-color: var(--h1-color, #f67550);
  border-radius: 50%;
  bottom: 59%;
  width: 1em;
  left: 80%;
  height: 1em;
  display: grid;
  align-content: center;
}
.heart > img {
  width: 0.8em;
  margin: auto;
}
.id-title-bottom {
  height: 10%;
}
.id-title-bottom > h3 {
  margin: 0px;
  color: var(--secondary-title-color, #ffb385);
  letter-spacing: 0.1em;
  font-size: 1em;
  font-family: opensansregular, sans-serif;
  text-align: center;
}
.id-card-row {
  width: 100%;
  height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.id-card-row > div:nth-child(1) {
  width: 13%;
  height: 100%;
  text-align: center;
}
.id-card-row > div:nth-child(2) {
  width: 88%;
  height: 100%;
}

.id-card-row > div:nth-child(2) > p {
  margin-left: 0.4em;
  font-family: opensansregular;
  font-size: 0.9em;
}
/* Section proyectos destacados */
.main-col-proyectos-destacados {
  margin-top: -2%;
  background-color: var(--sec-bg-color, #ffcc29);
  height: 25em;
  border-radius: 3%;
}

.main-col-proyectos-destacados h2 {
  color: var(--contrast-title-color, #ffffff);
  margin: 0%;
  font-size: 2.5em;
  font-family: justanotherhand;
}

/* Sección habiidades */

.main-col-habilidades {
  height: 25em;
  margin-top: 1em;
}

.main-col-habilidades h2 {
  color: var(--secondary-title-color, #ffb385);
  margin: 0%;
  font-size: 2.8em;
  font-family: justanotherhand;
}

.inner-article {
  position: relative;
  background-color: transparent;
  height: 80%;
}
.table-habilidades {
  display: flex;
  justify-content: space-evenly;
  border-radius: 1em;
  padding-bottom: 2em;
}

.col-hab {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.bar-container {
  height: 75%;
  width: 100%;
}
.col-hab > div:nth-child(2) {
  width: 100%;
  height: 12%;
}

.col-hab > div:nth-child(2) > img {
  margin: auto;
  width: 90%;
  display: block;
}
.bar-bottom,
.bar-top {
  width: 15%;
  height: 80%;
  background-color: var(--h1-color, #ffd1af);
  position: relative;
  display: block;
  margin: auto;
  top: 10%;
  border-radius: 2em;
}
.bar-top {
  width: 15%;
  background-color: var(--main-canvas-color);
}
.table-habilidades > .col-hab:nth-child(5) > .bar-container {
  border-radius: 2em;
  background-color: var(--secondary-title-color, #ffb385);
}

.bar-top-ai {
  top: -60%;
  height: 70%;
}

.bar-top-ps {
  top: -65%;
  height: 75%;
}

.bar-top-xd {
  top: -55%;
  height: 65%;
}

.bar-top-blender {
  top: -45%;
  height: 55%;
}

.bar-top-corel {
  top: -67%;
  height: 77%;
}

/* section intereses */
.table-habilidades {
  background-color: var(--table-bg-color);
}

.second-main-col h2 {
  font-size: 3em;
  color: var(--h1-color, #f67550);
  font-family: justanotherhand;
}
.ul-intereses {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-intereses {
  display: flex;
  justify-content: flex-end;
}
.row-intereses > div {
  height: 2em;
}
.row-intereses > div:nth-child(2) {
  width: 2em;
  height: 2em;
}

.row-intereses > div:nth-child(2) > img {
  width: 70%;
  margin-left: 30%;
}

.row-intereses > div:nth-child(1) > p {
  margin: auto;
  font-family: opensansitalic;
  text-align: right;
}
.inner-pie,
.inner-pie2 {
  width: 19em;
  height: 19em;
  position: absolute;
  top: 0px;
  left: 0px;
}

.inner-pie-data {
  position: absolute;
  display: block;
  text-align: center;
}
.inner-pie-data > img {
  position: relative;
}

.inner-pie > .inner-pie-data:nth-child(1) {
  top: 0%;
  left: 26%;
}

.inner-pie > .inner-pie-data:nth-child(2) {
  top: 28%;
  left: 51%;
}

.inner-pie > .inner-pie-data:nth-child(3) {
  top: 50%;
  left: 44%;
}

.inner-pie > .inner-pie-data:nth-child(4) {
  top: 50%;
  left: 14%;
}

.inner-pie > .inner-pie-data:nth-child(5) {
  top: 49%;
  left: 11%;
}
.inner-pie > .inner-pie-data:nth-child(6) {
  top: 10%;
  left: -1px;
}

.inner-pie2 > .inner-pie-data:nth-child(1) {
  top: 3em;
  left: 9.5em;
}

.inner-pie2 > .inner-pie-data:nth-child(2) {
  top: 46%;
  left: 83%;
}

.inner-pie2 > .inner-pie-data:nth-child(3) {
  top: 74%;
  left: 56%;
}

.inner-pie2 > .inner-pie-data:nth-child(4) {
  top: 78%;
  left: 26%;
}

.inner-pie2 > .inner-pie-data:nth-child(5) {
  top: 64%;
  left: 14%;
}
.inner-pie2 > .inner-pie-data:nth-child(6) {
  top: 34%;
  left: 45px;
}

.second-main-col {
  height: 37em;
}
/* Section formación profesional */
.edu-graph {
  height: 35.5%;
  top: -3em;
}

.education {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  height: 50%;
  align-content: space-around;
  grid-row-gap: 3%;
}

.card-education {
  display: flex;
  justify-content: start;
}

.card-education > div:nth-child(1) {
  background-color: var(--sec-bg-color, #ffb385);
  width: 5%;
  height: 100%;
  border-radius: 0.25em 0em 0.25em 0em;
}

.card-education > div:nth-child(2) {
  background-color: var(--main-bg-color, #91d8f7);
  width: 95%;
  height: 100%;
  background: linear-gradient(
    to-right,
    var(--main-bg-color, red),
    var(--main-canvas-color, orangered),
    var(--main-canvas-color, orangered)
  );
  padding-left: 0.5em;
  font-family: opensansregular;
}

.card-education > div:nth-child(2) > p {
  margin: 0.85%;
  font-size: 0.8em;
}

.card-education > div:nth-child(2) > p:nth-child(1) {
  color: var(--secondary-title-color, #ffb385);
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
  font-family: opensansregular;
}

.card-education > div:nth-child(2) > p:nth-child(2) {
  height: 55%;
  font-size: ;
}

.card-education > div:nth-child(2) > p:nth-child(3) {
  height: 20%;
  font-size: 0.6em;
}

/* saber mas section */
.main-col-proyectos-destacados2 {
  margin-top: -4%;
  height: 25em;
  border-radius: 3%;
}

.lista-caracteristicas {
  border-left: dotted orange 0.2em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30em;
  font-family: opensansitalic;
}

.saber-mas-final {
  height: 53em;
}
.descripcion-final {
  position: relative;
  top: 9em;
  list-style: none;
  font-style: italic;
  font-size: 1.25em;
}

.descripcion-final > li::before {
  content: "\2022";
  color: var(--accent-color, #bd93aa);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.ilustration {
  position: relative;
  top: -44em;
  width: 26em;
}

/* sección especial para la proyeccion de proyectos */

#proyectos {
  height: 19em;
  width: 47em;
  position: relative;
  top: 0em;
  left: 0em;
  display: flex;
  justify-content: space-around;
}
#proyectos > div {
  opacity: 80%;
  width: 12em;
}
#proyectos > div > div,
#proyectos > div > img {
  position: relative;
}
#proyectos > div > div {
  width: 96%;
  width: 11em;
  height: 19.5em;
  background-color: var(--accent-color, #bd93aa);
  top: 0%;
  left: 2%;
  border-radius: 1em;
}
#proyectos > div > div:nth-child(2) {
  width: 100%;
  height: 6em;
  top: -6em;
  background: transparent;
}
#proyectos > div > div:nth-child(2) > img {
  width: 11.5em;
  text-align: center;
  position: absolute;
  bottom: -0.45em;
}
.proyectos-title > h2 {
  color: var(--contrast-title-color);
  position: relative;
  top: 1em;
  text-align: center;
  font-family: opensansitalic;
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2em;
  }

  .id-card-row > div:nth-child(2) > p {
    font-size: 0.7em;
  }
  .id-card-row > div:nth-child(1) {
    width: 1.5em;
    height: 1.5em;
  }
  .bar-of-life {
    bottom: 3.2em;
  }

  .heart {
    bottom: 5.35em;
  }
  .id-card-photo {
    height: 6em;
  }

  .main-col-prin p {
    font-size: 0.95em;}
    .main-col-proyectos-destacados h2 {
     font-size: 2em;}

}
